@import "/src/styles.scss";

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &[theme="dark"] {
    border-bottom: 2px solid $light;
  }
  &[theme="light"] {
    border-bottom: 2px solid $dark;
  }

  button {
    // position: absolute;
    // top: 0;
    // right: 0;
    height: 10%;
    width: 10%;
    padding: 0;
    margin: 0;
    // border-radius: 50%;

    img {
      width: 10%;
      // height: 100%;
    }
  }
}

main {
  margin: 1%;

  #signaturePad {
    border: 3px solid $primary;
    border-radius: 5px;
    background-color: $light;
    height: 200px;
    width: 600px;
  }

  button {
    margin: 1%;
    padding: 1%;
    padding-inline: 0;
    border-radius: 1em;
    transition: all 300ms;
    &[theme="dark"] {
      border: 2px solid $light;
    }
    &[theme="light"] {
      border: 2px solid $dark;
    }
    &[theme="dark"]:hover {
      border: 2px solid $dark;
    }
    &[theme="light"]:hover {
      border: 2px solid $light;
    }

    img {
      width: 10%;
    }
  }

  #clearCanvasButton {
    background-color: $danger;
  }

  #downloadCanvasButton {
    background-color: $success;
  }
}

footer {
  &[theme="dark"] {
    border-top: 2px solid $light;
  }
  &[theme="light"] {
    border-top: 2px solid $dark;
  }

  #heart {
    color: $danger;
  }
}
