@import "/src/styles.scss";

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &[theme="dark"] {
    border-bottom: 2px solid $light;
  }
  &[theme="light"] {
    border-bottom: 2px solid $dark;
  }

  button {
    // position: absolute;
    // top: 0;
    // right: 0;
    height: 10%;
    width: 10%;
    padding: 0;
    margin: 0;
    // border-radius: 50%;

    img {
      width: 10%;
      // height: 100%;
    }
  }
}

main {
  margin: 5%;

  #signaturePad {
    border: 3px solid $primary;
    border-radius: 5px;
    background-color: $light;
    height: 50vh;
    width: 100%;
  }
}

footer {
  &[theme="dark"] {
    border-top: 2px solid $light;
  }
  &[theme="light"] {
    border-top: 2px solid $dark;
  }

  #heart {
    color: $danger;
  }
}
